/* Add CSS Styling */
.container .text{
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
}

what do i want?
contented peace within myself, to show up as me: override things i don't like.
to show up as the best of me and hold myself true to who I am and want to be,
to spend awesome time with friends, family and appeciate it,


try martial ats, surfing, all sots of new things.
to fully go for my projects.
A relatinship and some dates if I see someone I want to approach, or get a crush on someone.
Resolution with Amy: I don't feel it right now, move on
A plan for this weekend: Go stellies saterday, plan hike for next week friday

stellies bucket list;
-walk around campus
-see jude OR jacob
-drink with the bois
-watch good movies
-hike?
-climb?
-go out?

bring with:
-supplies to make a meal,
-bing savanas
-movie suggestion
-some plans